#twixt-canvas {
    background: #fafafa;
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#panel-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 450px;
    text-align: center;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

button.current-selection {
    background-color: rgb(109, 109, 109);
    color: white;
    font-weight: bold;
}

#player-info {
    text-transform: uppercase;
}
